:root{
    --background-light: #F0F2FA;
    --background-white: #F6F5FF;
    --text-dark: #0a0040;
    --color-primary: #6143FF;
    /* color: #6e000b */
    /* color:#b68800 */
}

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    color: var(--text-dark);
}

.sidebar{
    width: 100px;
    background-color: var(--color-primary);
}

.btn, .btn:hover{
    padding: 10px 20px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    border: 0;
    cursor: pointer;
    background-color: #ccc;
}
.btn:hover{
    transform: scale(1.05);
}
a.btn{
    margin-left: 3px;
    text-decoration: none;
}
.navigation>a{
    text-decoration: none;
    color: var(--color-primary);
}
.btn-primary, .btn-primary:hover{
    background-color: var(--color-primary);
    color: white;
}

.graph_header_line{
    flex: 1;
    height: 2px;
    background-color: rgba(0, 0, 0, .2);
}

.list_header-select{
    font-size: 18px;
    color: var(--text-dark);
}

.task{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--background-light);
    transition: all .3s ease-in-out;
}
.task:hover{
    transform: scale(1.01);
    border-radius: 10px;
    background-color: var(--background-light);
}
.title{
    display: flex;
    align-items: center;
    flex: 1;
}
.task_title{
    padding-left: 10px;
    font-weight: bold;
}

.actions a{
    margin-left: 20px;
    margin-right: 10px;
    transition: all .3s ease-in-out;
}
.actions a:hover{
    transform: scale(1.50);
}
.sphere{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
}

.inputArea{
    display: block;
    margin: 10px 0 20px 0;
}
.inputArea>label{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}
.inputArea>input, .inputArea>select{
    height: 30px;
    width: 400px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    padding: 5px 10px;
}
.inputArea>input[type="checkbox"]{
    height: 15px;
    width: 13px;
    display: flex;
}
input[type="date"]{
    font-size: 11px;
    width: 90px;
    height: 30px;
    text-align: center;
}
.inputArea>textarea{
    height: 120px;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    padding: 5px 10px;
}
.apexcharts-tooltip {
    background: #f3f3f3;
    color: #F6F5FF !important;
}
